@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*base styles*/
*{
    font-family: "Space Mono", monospace;
    color: #FFFFFF;

}

.home{
    background: #000;
    padding-top: 60px;
    height: 1000px;
    
}


.heading{
    font-size: 126px;
    margin-left: 50px;
  
    
}
.subtext{
    text-align: right;
    margin-top: -150px;
    margin-right: 50px;
    
}

.dash-image{
    width: 1336px;
    height: 386px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 21px;
    background-image: url(./assets/gradients.png);
    background-position: center;
    background-size: cover;
    font-size: 96px;
    padding-left: 36px;
    padding-top: 227px;

}