@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*base styles*/
*{
    font-family: "Space Mono", monospace;
    color: #FFFFFF;

}

.home{
    background: #000;
    padding-top: 60px;
    height: 100%;
    
}

.home h1{
    padding-left: 70px;
}

.heading{
    font-size: 126px;
    margin-left: 50px;
  
    
}
.subtext{
    text-align: right;
    margin-top: -150px;
    margin-right: 50px;
    
}

.dashboard{
    margin-left: 50px;
}

.dash-image{
    width: 1336px;
    height: 386px;
    margin-top: 30px;
    border-radius: 21px;
    background-image: url(./assets/gradients.png);
    background-position: center;
    background-size: cover;
    font-size: 96px;
    padding-left: 36px;
    padding-top: 227px;

}

.track{
    width: 951px;
    height: 328px;
    background-color: #F5BB4C;
    margin-top: 20px;
    border-radius: 20px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding-left: 29px;
    padding-top: 250px;

}

.track:hover{
    cursor: pointer;
    background-color: #FC9C09;
}

.sound{
    width: 363.963px;
    height: 260px;
    background-image: url(./assets/sound.svg);
    margin-top: -275px;
    margin-left: 520px;
}


.listen-now{
    width: 365px;
    height: 328px;
    background-color: #E55937;
    border-radius: 20px;
    margin-left: 970px;
    margin-top: -330px;
    font-weight: 600;
    font-size: 40px;
    padding-left: 50px;
    padding-top: 30px;

}

.listen-now:hover{
    cursor: pointer;
    background-color: #1950E2;
    
}

.play{
    width: 119px;
    height: 119px;
    background-image: url(./assets/play.svg);
    margin-left: 195px;
    margin-top: 120px;
    
    

}


.rec{
    width: 365px;
    height: 328px;
    background-color: #1950E2;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 24px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    padding-left: 50px;
    padding-top: 30px;
}

.rec:hover{
    cursor: pointer;
    background-color: #FC9C09;
}

.music{
    width: 116px;
    height: 135px;
    background-image: url(./assets/music.svg);
    margin-left: 50px;
    margin-top: 50px;
}

.hot{
    width: 365px;
    height: 328px;
    background-color: #E55937;
    margin-top: -327px;
    border-radius: 20px;
    margin-left: 385px;
    font-size: 28px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    padding-left: 40px;
    padding-top: 260px;


}

.hot:hover{
    cursor: pointer;
    background-color: #F5BB4C;
}

.linegr{
    width: 281x;
    height: 212px;
    background-image: url(./assets/line.svg);
    margin-left: 20px;
    margin-top: -280px;


}


.podcast{
    width: 570px;
    height: 328px;
    background-color: #1950E2;
    border-radius: 20px;
    margin-left: 768px;
    margin-top: -327px;
    font-size: 48px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 20px;

}

.podcast:hover{
    cursor: pointer;
    background-color: #F5BB4C;

}

.mic{
    width: 66px;
    height: 98px;
    background-image: url(./assets/mic.svg);
    margin-left: 450px;
    margin-top: 30px;
}


/* Comparison Page Ex*/

.block-one{
    width: 649px;
    height: 1905px;
    border-radius: 21px;
    border: 1px solid #FFF;
    margin-top: 130px;
    margin-left: 50px;

}

.block-two{
    width: 649px;
    height: 1905px;
    border-radius: 21px;
    border: 1px solid #FFF;
    margin-left: 750px;
    margin-top: -1910px;


}

/*search form*/

.search{
    padding-left: 20px;
    padding-top: 20px;

}

.info-search{
    color: #FFF;
    font-family: "Space Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;


}

form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 436px;
    height: 65px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background-color:#000 ;
  }
  
  button {
    margin-right: 30px;
    padding: 10px 20px;

    background-color: #F5BB4C;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #E55937;
  }
  

/*image and stats*/

.stats{
    padding-left: 20px;
}

.artist-image{
    width: 436px;
    height: 395px;
    border-radius: 15px;
    border: 1px solid #FFF;
    background-image: url(./assets/placeholder1.jpeg);
    background-position: center;
    background-size: cover;
}

.bar{
    width: 569px;
    height: 385px;
    background: #1E1E1E;
    border-radius: 20px;
    margin-top: 30px;
    
}

.pie{
    width: 569px;
    height: 385px;
    background: #1E1E1E;
    border-radius: 20px;
    margin-top: 30px;  
}

.radar{
    width: 569px;
    height: 385px;
    background: #1E1E1E;
    border-radius: 20px;
    margin-top: 30px;  
}

.line{
    width: 1345px;
    height: 532px;
    border-radius: 20px;
    background: #1E1E1E;
    margin-top: 70px;
    margin-left: 58px;
    padding-left: 50px;
    padding: 20px, 20px;

}

